<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9 no-js" lang="en"><![endif]-->
<!--[if gt IE 9 | !IE]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IAL Tech</title>
  <meta name="description" content="A bunch of free EdTech tools made by real life teachers.">
  <meta name="keywords" content="EdTech, Free, Discussion Boards, Timeline">
  <meta name="author" content="Jeff Maxim">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
  <link rel="icon" href="assets/img/favicon.ico">

  <%= stylesheet_link_tag "landing/bootstrap.min" %>
  <%= stylesheet_link_tag "landing/vendor" %>
  <%= stylesheet_link_tag "landing/style" %>
  <%= stylesheet_link_tag "landing/hoc_custom" %>
  <!--[if lte IE 9]><!-->
  <%= javascript_include_tag "landing/vendor/html5shiv.min.js" %>
  <!--<![endif]-->
</head>
<body>

  <div class="site">
    <div class="site-loader">
      <div class="site-loader-spinner"></div>
    </div> <!-- .site-loader -->

    <div class="site-canvas">
      <header class="site-header">
        <nav class="navbar navbar-theme">
          <div class="container">
            <div class="navbar-header">

              <div class="navbar-brand-wrap">
                <a class="navbar-brand" href="/">
                  <%= image_tag("site-header-logo-2.png") %>
                </a>
              </div>
            </div> <!-- .navbar-header -->


          </div>
        </nav>
      </header> <!-- .site-header -->
      <main class="site-main">
        <div id="intro" class="section block-default align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-12">
                <div class="col-inner">
                  <div class="section-heading">
                    <h2>Inwood Academy Tech PD - Feb. 12, 2020</h2>
                    <p>
                      I'm <a target='_blank' href='https://www.linkedin.com/in/jeffmaxim/'>Jeff</a>. I do do PDs professionally, and I haven't taught for 5 years.
                      I have used computers with some success at Inwood Academy, so I am here to share that experience!
                    </p>
                    <p>
                      Today you'll learn about what I did to use computers with kids at IAL. This website will live here forever (or at least a few years), so you can some back and use
                      these resources whenever you want :)
                    </p>
                    <p>
                      If there's some typos, I apologize, but you can correct
                      them <a target='_blank' href='https://github.com/jeffthemaximum/jeffdev/blob/master/app/views/welcome/index.html.erb'>here</a> if you want.
                    </p>
                    <p>
                      It's been a while for me, I'm a little older, and I have a son now! That means my brain is a little slower, and I don't remember everything I did at IAL too well. Ask me a lot of questions, because you'll start to jog my memory and get better information from me.
                    </p>
                    <h4>
                      tl;dr
                    </h4>
                    <ul>
                      <li>
                        Why use computers with kids?
                      </li>
                      <li>
                        How did Jeff make it work?
                      </li>
                      <li>
                        What about classroom management? Will I miss instructional time?
                      </li>
                      <li>
                        What are some projects I can do?
                      </li>
                      <li>
                        What are the associated standards?
                      </li>
                      <li>
                        What about coding?
                      </li>
                    </ul>
                  </div> <!-- .section-heading -->
                </div>
              </div>
              <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
                <div class="col-inner clearfix">
                  <%= image_tag("hoc-8.jpg", class: "img-responsive float-r-sm-min m-x-auto-xs-max", data: {sr: "right"}) %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_1 -->

        <div id="brief_2" class="section block-warning align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
                <div class="col-inner clearfix">
                  <%= image_tag("hoc-10.jpg", class: "img-responsive float-l-sm-min m-x-auto-xs-max", data: {sr: "left"}) %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h2>Why use computers with kids?</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <ul>
                      <li>
                        If we want kids to do their best work, they should have access to the tools you use to do work as an adult. This includes things like paperclips,
                        notebooks, pens, and technology.
                      </li>
                      <li>
                        <a target='_blank' href='https://rossieronline.usc.edu/blog/teacher-digital-literacy/'>Digitial literacy</a> is the issue of our time. Look at how stupid everyone is online for these elections.
                        Kids need to know how to critically engage online.
                      </li>
                      <li>
                        At least when I was here, most kids were not good at using computers. Despite being "digitial natives", many couldn't type.
                      </li>
                      <li>
                        My favorite are the Social Studies and Language Arts activities!
                      </li>
                      <li>
                        Join the online discussion for today's PD on <a target='_blank' href='https://classroom.google.com/'>Google Classroom</a>. Use the code <b>xuifhsl</b>.
                      </li>
                      <%# <li>
                        The activities are <a target='_blank' href='https://hourofcode.com/us/learn'>here</a>. You can filter by
                          age, grade, experience level, and many other things.
                      </li>
                        Use those activities above and try it out! You have 10 minutes. This is your DO NOW!
                        Can't one to choose? Try this one <a target='_blank' href='https://game.kodable.com/hour-of-code'>here</a>.
                      </li> %>
                    </ul>
                  </div> <!-- .section-content -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_2 -->

        <div id="brief_3" class="section block-success align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h2>How did Jeff make it work?</h2>
                    <p>
                      <b>Rule 1</b>: Create, don't consume.
                    </p>
                    <p>
                      Prefer tools like google docs, google sheets, and <a target='_blank' href='https://scratch.mit.edu/'>Scratch</a> to tools like <a target='_blank' href='https://newsela.com/'>NewsELA</a> or <a target='_blank' href='https://www.flocabulary.com/'>Flocabulary</a>.
                    </p>
                    <p>
                      <b>Rule 2</b>: Don't use blocking/monitoring software.
                    </p>
                    <p>
                      Please ask me as much about this as you want. Briefly, this software teaches kids nothing. You want kids to be able to use computers productively in your classroom,
                      and also in their highschool, college, and professional lives. You should start teaching them how to regulate their own online behavior now. You don't spend 1hr straight working on a computer
                      without taking an occasional break to check Facebook or message your friends, but you figure out how to do that and get your work done. Teach this to kids.
                    </p>
                    <p>
                      <b>Rule 3</b>: Computer time is instructional time.
                    </p>
                    <p>
                      Your lesson might be around learning how to summarize the main idea of a passage, and little Teddy might be sending innappropriate emails to his classmates, and little Lisa might be looking up pictures of lolcatz, or worse. This is now your lesson.
                      How do you address it?
                    </p>
                    <p>
                      <b>Rule 4</b>: Make it fun.
                    </p>
                    <p>
                      Kids have fun with technology outside of school. If you make it dull inside school, they'll look for other, potentially more destructive ways to have fun.
                      Let them message and email eachother. Let them Google something they're curious about. Bring in fun stuff, like speakers, cameras, and any other technology you use in your life. Let kids explore with it.
                    </p>
                    <p>
                      <b>Rule 5</b>: On open ended assignments, use lots of examples and a very clear rubric.
                    </p>
                    <p>
                      If you try an open ended assignment, <a target='_blank' href='https://docs.google.com/document/d/13lz88oVniPoMI6epgQCOp7lh3CyAWAJRopEBuZR5kKM/edit?usp=sharing'>like this one</a>, make a rubric and make an example(s) ahead of time.
                      If scoring on a 4 point scale, make examples of 1, 2, 3, and 4 level work, and share those examples with the class. <a target='_blank' href='https://docs.google.com/document/d/1JhceqXFS2n59RkZnP7ToZOFCYrF2WoEN1EyB_dRMBnY/edit?usp=sharing
                      of a "twitter feed" from that project.'>Here is an example</a> of a twitter feed from that project.
                    </p>
                  </div> <!-- .section-heading -->
                </div>
              </div>
              <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
                <div class="col-inner clearfix">
                  <%= image_tag("hoc-9.jpg", class: "img-responsive float-r-sm-min m-x-auto-xs-max", data: {sr: "right"}) %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_3 -->

        <div id="brief_2" class="section block-pink align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
                <div class="col-inner clearfix">
                  <%= image_tag("hoc-11.jpg", class: "img-responsive float-l-sm-min m-x-auto-xs-max", data: {sr: "left"}) %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h2>What about classroom management? Will I miss instructional time?</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <ul>
                      <li>
                        You can monitor via Google Admin. If IAL doesn't let you do this, they should, and I can show you how to do it.
                      </li>
                      <li>
                        Kids who misbehave get a packet or alternate assignment.
                      </li>
                      <li>
                        No music / headphones. I don't use them while teaching, so kids don't use them.
                      </li>
                      <li>
                        Post grades online, with a tool like Schoology, or in a non-editable Google Sheet. Kids can see grades and complete makeup assignments.
                        This (can potentially) end fights around submitting work, printing makeup work, etc.
                      </li>
                      <li>
                        Handle individual situations as they arise. If a small group of kids can't handle computers, don't block the whole class from using computers.
                      </li>
                    </ul>
                  </div> <!-- .section-content -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_2 -->

        <div id="brief_3" class="section block-default align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-6">
                <div class="col-inner">
                  <div class="section-heading">
                    <h2>What are some projects I can do?</h2>
                    <ul>
                      <li>
                        Let's spend the remainder of the PD today making one of these to use in your classroom.
                      </li>
                      <li>
                        <b>Class website: </b> <a target='_blank' href='https://sites.google.com/a/eastbronxacademy.org/9th-grade-global-history-2013-to-2014/'>Here's an example</a> from my wife, Emily, and <a target='_blank' href='http://www.mrmaxim.org/'>here's my old class website from 2013-2014</a>, and <a target='_blank' href='http://www.mrmaxim.org/ela-class-assignments'>here's some of my website</a> from 2012-2013.
                      </li>
                      <li>
                        <b>Scratch science project: </b> <a target='_blank' href='https://docs.google.com/document/d/1d-3VTeZvb06f72DJH6025AHROWmO0JwUDEEtOi6AFkw/edit?ts=5e440cd8'>Here's an example.</a>
                      </li>
                      <li>
                        <b>Blog / Twitter project: </b> <a target='_blank' href='https://docs.google.com/presentation/d/14zxF99nXr_UaXJFMcp3i6Lsy1c2-fFApBQPsYnL5oJU/edit?usp=sharing'>Here's an example of class task cards</a>.
                        Here's some example student work: <a target='_blank' href='http://matthewramoseba.blogspot.com/'>Student 1</a> and <a target='_blank' href='http://alejandropaulinoeba.blogspot.com/2014/06/'>Student 2</a>
                      </li>
                      <li>
                        <b>Mixed modal task card:</b> <a target='_blank' href='https://docs.google.com/document/d/13lz88oVniPoMI6epgQCOp7lh3CyAWAJRopEBuZR5kKM/edit?usp=sharing'>Here's an example.</a>
                      </li>
                      <li>
                        <b>Explore a tool</b>, like <a target='_blank' href='https://www.scratchjr.org/'>Scratch Jr</a>.
                      </li>
                      <li>
                        <b>Setup a Google Classroom site</b>, like ours from class today.
                      </li>
                      <li>
                       <a target='_blank' href='https://docs.google.com/forms/d/e/1FAIpQLScPJIusowUEUmfXT9hnu61JvLlPzsOuXxE1lqe9-ig_5t7X6w/viewform?usp=sf_link'>Make a google form assignment.</a>
                      </li>
                      <li>
                       Explore the information below about how to get starting teaching coding.
                      </li>
                      <li>
                        Share what you're working on with the class!
                      </li>
                    </ul>
                  </div> <!-- .section-heading -->
                </div>
              </div>
              <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
                <div class="col-inner clearfix">
                  <%= image_tag("hoc-5.jpg", class: "img-responsive float-r-sm-min m-x-auto-xs-max", data: {sr: "right"}) %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_3 -->





        <div id="jeff" class="section block-warning align-c-xs-max">
          <div class="container">
            <div class="row row-table">
              <div class="col-sm-12">
                <div class="col-inner">
                  <div class="section-heading">
                    <h2>Why teach coding?</h2>
                    <ul>
                      <li>
                        <b>Economic and Workforce Development: </b>"We should teach coding because we need more software engineers..."
                      </li>
                      <li>
                        <b>Citizen and Civic Engagement: </b>"Kids need to know how the digital world works in order to participate in it well."
                      </li>
                      <li>
                        <b>Competencies and Literacies: </b>"Coding teaches kids systems thinking, an important higher order skill."
                      </li>
                      <li>
                        <b>Equity and Social Justice: </b>"It will even the playing field for underrepresented students and close the digital divide."
                      </li>
                      <li>
                        <b>School Reform and Improvement: </b>"Computer Science will introduce a project-based learning approach to schools."
                      </li>
                      <li>
                        <b>Technological, Social, and Scientific Innovation: </b>"The more kids who learn CS, the more production of new knowledge and innovation."
                      </li>
                      <li>
                        <b>Personal Agency, Joy, and Fulfillment: </b>"It's fun!"
                      </li>
                    </ul>
                  </div> <!-- .section-heading -->

                  <br>

                  <div class="section-heading">
                    <h2>What is Hour of Code?</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <ul>
                      <li>
                        The main hour of code website is <a target='_blank' href='https://hourofcode.com/us'>here</a>
                      </li>
                      <li>
                        The intro video is <a target='_blank' href='https://youtu.be/SrnvvWDm73k'>here</a>
                      </li>
                      <li>
                        The activities are <a target='_blank' href='https://hourofcode.com/us/learn'>here</a>. You can filter by
                        age, grade, experience level, and many other things.
                      </li>
                      <li>
                        My favorite are the Social Studies and Language Arts activities!
                      </li>
                      <li>
                        Use those activities above and try it out! Can't one to choose? Try this one <a target='_blank' href='https://game.kodable.com/hour-of-code'>here</a>.
                      </li>
                    </ul>
                  </div> <!-- .section-content -->

                   <br>

                  <div class="section-heading">
                    <h2>How does coding progress from K-5 and beyond?</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <p>
                      Teaching coding in elementary school is similar to teaching reading, in that grades K-2 lay a foundation on which grades 3-5 can build on.
                      In reading education we teach phonics and fluency in younger grade, and we teach start reading longer books in 3-5. With coding, the idea
                      is to build foundational skills in younger grades and then start to actually build stuff in older grades.
                    </p>
                    <p>
                      The end goal is to be able to build stuff in Scratch by the end of elementary school, <a target='_blank' href='https://scratch.mit.edu/projects/77529740/'>like this</a>.
                    </p>
                    <p>
                      <ul>
                      <li>
                        <b>PreK - 1: </b>Teachers integrate computational thinking into existing class lessons,  <a target='_blank' href='https://studio.code.org/s/course1/stage/12/puzzle/1'>such as this</a>.
                      </li>
                      <li>
                        <b>2: </b>Students explore Scratch Jr activities,  <a target='_blank' href='https://medium.com/scratchfoundation-blog/10-things-to-try-right-now-with-your-child-on-scratch-and-scratchjr-defd7f8ad0d1'>like these</a>.
                      </li>
                      <li>
                        <b>3-5: </b>Students build programs with Scratch,  <a target='_blank' href='https://scratch.mit.edu/projects/25127030/'>like these</a>.
                      </li>
                      <li>
                        <b>Beyond: </b>Students can build anything, the sky is the limit, <a target='_blank' href='https://ap.cs50.net/'>like this</a>.
                      </li>
                    </ul>
                    </p>
                  </div> <!-- .section-content -->

                   <br>

                  <div class="section-heading">
                    <h2>You don't have to know how to code to teach how to code!</h2>
                    <ul>
                      <li>
                        I started learning with my students and now am a professional software engineer at Aaptiv
                        ( <a target='_blank' href='https://aaptiv.com?utm_source=teachersdontpayjeff'>signup here :-)</a> )
                      </li>
                      <li>
                        Start by having students explore a tool, like <a target='_blank' href='https://www.scratchjr.org/'>Scratch Jr</a>.
                      </li>
                      <li>
                        Once a student discovers something, have them share it with the class.
                      </li>
                    </ul>
                  </div> <!-- .section-heading -->

                   <br>

                  <div class="section-heading">
                    <h2>No connection to math skills. Many kids will surprise you. No "special" intellectual ability needed.</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <p><b>DO NOT</b> think for a second that certain kids are or aren't more inclined to excel at coding than others, for any reason. If you learn nothing else today, remember that.</p>
                    <p>Isaac H. couldn't read at the beginning of 5th grade and could write C by the end of 6th grade.</p>
                    <p>Learning to code is no harder than learning anything else, which you can <a href="http://byteacademy.co/why-is-learning-to-code-so-hard/" target="_blank">read about here</a>.
                  </div> <!-- .section-content -->

                   <br>

                  <div class="section-heading">
                    <h2>Coding vs. Computer Science</h2>
                    <p>Coding is like spelling, grammar, and punctuation. Computer science is like studying English.</p>
                    <p>Educators sometimes use these terms interchangeably, but engineers use them to mean different things.</p>
                  </div> <!-- .section-heading -->

                   <br>

                  <div class="section-heading">
                    <h2>Doing and Discovery works best</h2>
                  </div> <!-- .section-heading -->
                  <div class="section-content">
                    <p>
                      Learning to code is like learning the guitar. I could talk to you about how to play guitar all day long.
                      Then, if you picked up a guitar, you'd still be terrible at playing it. You can't really 'study' coding,
                      you have to just sit at a computer and do it through a process of discovery.
                    </p>
                  </div> <!-- .section-content -->
                </div>
              </div>
              <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
                <div class="col-inner clearfix">
                  <%= image_tag("hoc-7.jpg", class: "img-responsive float-r-sm-min m-x-auto-xs-max", data: {sr: "right"}) %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- #brief_1 -->



        <div id="contact" class="section block-default">
          <div class="container">
            <div class="section-heading text-center">

              <h2>Get in touch with us</h2>
              <p> Did you love this info? Hate it? Have a question? Let me know :)</p>
            </div>
            <div class="row section-content m-t-60-sm-min">
              <div class="col-sm-6 col-md-5">
                <div class="col-inner">

                  <div class="icon-box _left">
                    <div class="icon-box-media">
                      <%= image_tag("icon/mail.png", data: {sr: "bottom"}) %>
                    </div>
                    <div class="icon-box-heading">
                      <h4>Email Address</h4>
                    </div>
                    <div class="icon-box-content font-sub font-italic">
                      <span>frey.maxim@gmail.com</span>
                      <br>
                      <span>jeff@mrmaxim.org</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-offset-1 m-t-60-xs-max">
                <div class="col-inner">

              </div>
            </div>
          </div>
        </div> <!-- #contact -->
        <div id="map-canvas"></div> <!-- #map-canvas -->
      </main> <!-- .site-main -->
      <footer class="site-footer block-invert">
        <div class="container">
          <%= image_tag("site-header-logo-2.png", class: "site-footer-logo img-responsive", data: {sr: "bottom"}) %>
          <ul class="site-footer-social-list">
            <li><a href="https://www.facebook.com/frey.maxim" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/jeffthemaximum" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com/jeffthemaximum/" target="_blank">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/jeffmaxim/" target="_blank">LinkedIn</a></li>
          </ul>
          <p class="site-footer-copyright">2017 © <a href="#" target="_blank">Jeff Maxim</a> | all rights reserved.</p>
        </div>
      </footer> <!-- .site-footer -->
    </div>
  </div>

  <%= javascript_include_tag "landing/vendor/jquery-1.11.3.min.js" %>
  <%= javascript_include_tag "landing/vendor/bootstrap.min.js" %>
  <%= javascript_include_tag "landing/vendor/plugin.js" %>
  <%= javascript_include_tag "landing/variable.js" %>
  <%= javascript_include_tag "landing/main.js" %>

<% if Rails.env == "production"  %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54793829-7', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>

</body>
</html>
